body {
	padding: 50px;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}
ul>li {
    font-size: 20px;
    font-weight: 300;
}

.done {
	color: #999;
	text-decoration: line-through;
}
.pure-button {
	font-size: 85%;
}
.active {
	font-weight: bold;
}
.buttons {
	margin-top: 40px;
}